* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(225, 225, 225);
    padding: 0;
    box-sizing: border-box;
}

/*MENU HEADER*/
/*
.menu {
    list-style-type: none;

}

.menu li {
    box-sizing: border-box;
    float: left;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: 300;
    padding: 8px 12px;
}

.menu a:hover {
    background-color: gray;
}

.menu .about-link {
    
}
*/

.navigation a {
    list-style-type: none;
    text-decoration: none;
}


/*GALLERY*/


/*ABOUT*/

@media (max-width: 1050px){

}

@media (max-width: 991px){

}

@media (max-width: 799px){

}

@media (max-width: 600px){

}