*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(225, 225, 225);
    padding: 0;
    box-sizing: border-box;
}

/*MENU HEADER*/

.header-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;

    background: white;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 24px;
    overflow: hidden;
}

.menu-ul li {
    float: left;
}

.menu-ul li a {
    font-size: 24px;
    display: block;
    color:black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.menu-ul li a:hover {
    background-color: gray;
}

/*GALLERY*/
.header-section .gallery {
    max-width: ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.header-section .gallery img {
    width: 50%;
}

/*ABOUT*/






@media (max-width: 1050px){

}

@media (max-width: 991px){

}

@media (max-width: 799px){

}

@media (max-width: 600px){

}